<%- include('../components/validation-error.ejs') -%>

<form action="/auth/login" method="post">
  <input type="text" placeholder="email" name="email">
  <input type="text" placeholder="password" name="password">
  <input type="submit" value="login" id="">
</form>